<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Practica_Final</title>
    <link rel="stylesheet" href="~/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/img/favicon.ico' />
    <link rel="stylesheet" href="assets/bundles/bootstrap-social/bootstrap-social.css">
</head>
<body>

    <div id="app">
        @RenderBody()
    </div>
    
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="assets/js/page/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
